.section__title {
  padding-top: 120px;
  text-align: center;

  &-text {
    font-weight: 700;
    font-size: 40px;
    color: #e65f78;
  }
}

.profile-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;

  &-text {
    font-weight: 700;
    font-size: 40px;
    color: #e65f78;
  }
}

.home-about__contents-text {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}

home-about__contents-text .iimg-fluid {
  max-width: 100%;
  height: auto;
}